<section class="contacts">
  <div class="container">
    <p class="contacts-text">Connect</p>
    <h2 class="contacts-header">Get in Touch</h2>
    <p class="contacts-desciption">
      We’re here to assist you with all your floral needs and inquiries.
    </p>
    <ul class="contacts-list">
      <li class="contacts-item">
        <p class="contacts-item-name">Phone</p>
        <a href="" class="contacts-item_link">+1 (555) 123-4567</a>
      </li>
      <li class="contacts-item">
        <p class="contacts-item-name">Store</p>
        <a href="" class="contacts-item_link"
          >456 Floral Ave, Sydney NSW 2000 AU</a
        >
      </li>
    </ul>
    <img src="" alt="" class="contacts-img" />
  </div>
</section>
