<section class="contacts section" data-aos="fade-up" id="contacts">
  <div class="container contacts-container">
    <div class="contacts-content">
      <div class="contacts-text-container">
        <p class="contacts-text">Connect</p>
        <h2 class="contacts-header">Get in Touch</h2>
        <p class="contacts-desciption">
          We're here to assist you with all your floral needs and inquiries.
        </p>
      </div>

      <ul class="contacts-list">
        <li class="contacts-item">
          <p class="contacts-item-name">
            <svg class="modal-contacts-svg">
              <use href="/img/sprite.svg#icon-phone"></use>
            </svg>
            Phone
          </p>
          <a href="tel:+15551234567" class="contacts-item_link phone-link"
            >+1 (555) 123-4567</a
          >
        </li>

        <li class="contacts-item">
          <p class="contacts-item-name">
            <svg class="modal-contacts-svg">
              <use href="/img/sprite.svg#icon-map"></use>
            </svg>
            Store
          </p>
          <a
            href="https://www.google.com/maps/search/?api=1&query=456+Floral+Ave,+Sydney+NSW+2000+AU"
            class="contacts-item_link"
            target="_blank"
            rel="noopener noreferrer"
          >
            456 Floral Ave, Sydney NSW 2000 AU
          </a>
        </li>
      </ul>
    </div>

    <img
      src="/img/contacts-image@1x.jpg"
      srcset="/img/contacts-image@2x.jpg 2x"
      alt="photo of our worker serving a customer in the store"
      class="contacts-img"
    />
  </div>
</section>
