<footer>
  <div class="container">
    <a href="" class="footer-logo_link"
      ><img src="" alt="" class="footer-logo"
    /></a>
    <ul class="footer-nav_list">
      <li class="footer-item"><a href="" class="footer-link">About Us</a></li>
      <li class="footer-item">
        <a href="" class="footer-link">Bestsellers</a>
      </li>
      <li class="footer-item"><a href="" class="footer-link">Bouquets</a></li>
      <li class="footer-item"><a href="" class="footer-link">Feedback</a></li>
      <li class="footer-item"><a href="" class="footer-link">Contacts</a></li>
    </ul>
    <ul class="footer-social_list">
      <li class="social-item"><a href="" class="social link"></a></li>
      <li class="social-item"><a href="" class="social link"></a></li>
      <li class="social-item"><a href="" class="social link"></a></li>
    </ul>
    <div class="copyright-container">
      <p class="copyright-text">&copy; Flora. All rights reserved.</p>
    </div>
  </div>
</footer>
