<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="" class="nav-logo_link"
        ><img src="" alt="" class="nav-logo"
      /></a>
      <ul class="nav-list">
        <li class="nav-item"><a href="" class="nav-link">About Us</a></li>
        <li class="nav-item"><a href="" class="nav-link">Bestsellers</a></li>
        <li class="nav-item"><a href="" class="nav-link">Bouquets</a></li>
        <li class="nav-item"><a href="" class="nav-link">Feedback</a></li>
        <li class="nav-item"><a href="" class="nav-link">Contacts</a></li>
      </ul>
      <button type="button" class="nav-btn">Explore Bouquets</button>
    </nav>
  </div>
</header>
