<div class="order-background">
  <div class="order-modal modal-container">
    <button type="button" class="modal-close_btn order-close_btn">
      <svg class="modal-close-svg">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="order-modal_header">Order</h2>
    <form action="" class="order-modal_form">
      <label class="order-modal_label" for="name">Name*</label>
      <input
        class="order-modal_input"
        placeholder="Ann"
        type="text"
        id="name"
        name="name"
        required
      />
      <label class="order-modal_label" for="phone">Phone*</label>
      <input
        class="order-modal_input"
        pattern="[+]?[(]?[0-9]{3}[)]?[-\s.]?[0-9]{3}[-\s.]?[0-9]{4,6}$"
        title="Format: +1 (555) 123-4567 or 555-123-4567"
        placeholder="+1 (555) 123-4567"
        type="tel"
        id="phone"
        name="phone"
        required
      />
      <label class="order-modal_label" for="email">Adress</label>
      <input
        class="order-modal_input"
        placeholder="456 Floral Ave, Sydney NSW 2000 AU"
        type="text"
        id="email"
        name="email"
      />
      <label class="order-modal_label" for="message">Message</label>
      <textarea
        class="order-modal_textarea"
        placeholder="Type your message..."
        id="message"
        name="message"
      ></textarea>
      <button type="submit" class="order-modal_btn btn">Go to Checkout</button>
    </form>
  </div>
</div>
