<div class="modal-backhround">
  <div class="product-modal-container">
    <img src="" alt="" class="product-modal-img" />
    <h2 class="product-modal_header"></h2>
    <p class="product-modal_price"></p>
    <p class="product-modal_description"></p>
    <button class="product-modal_btn"></button
    ><span class="product-modal_close"></span>
    <label for="count">Количество:</label>
    <input
      type="number"
      id="count"
      class="product-modal_count"
      name="count"
      min="1"
      max="100"
      value="1"
    />
  </div>
</div>
