@import 'variable.css';

.btn {
  border-radius: 100px;
  border: none;
  font-family: var(--font-roboto-medium);
  background: var(--btn-gradient);
  transition: var(--transition-all);
}
.btn:hover {
  opacity: var(--opacity-half);
}
.btn:disabled {
  opacity: var(--opacity-disabled);
}
.btn:active {
  background: #4e544d;
  color: var(--white);
  opacity: var(--opacity-full);
}
.btn:active .nav-btn_link,
.btn:active .hero-btn_link {
  color: #fff;
  opacity: var(--opacity-full);
}

.btn-arrow_container {
  display: flex;
  gap: 16px;
}
.btn-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid var(--primary-color-rgba);
}
.arrow-svg {
  width: 14px;
  height: 14px;
  fill: var(--primary-color);
}
