@import 'variable.css';

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin-bottom: 40px;
}
.contacts-text {
  font-family: var(--font-roboto-semibold);
  font-weight: 600;
  margin-bottom: 16px;
}
.contacts-header {
  font-family: var(--font-hanuman);
  font-weight: 400;
  font-size: 32px;
  line-height: 1.25;
  margin-bottom: 24px;
}
.contacts-desciption {
  font-size: 18px;
  margin-bottom: 24px;
}
.contacts-item-name {
  font-family: var(--font-hanuman);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 8px;
  display: flex;
  gap: 16px;
  align-items: center;
}
.phone-link {
  text-decoration: underline;
}
.contacts-item_link {
  color: var(--primary-color);
  transition: var(--transition-opacity);
  opacity: var(--opacity-full);
}
.contacts-item_link:hover {
  opacity: var(--opacity-hover);
}
.contacts-item_link:active {
  opacity: var(--opacity-active);
}
.contacts-item_link:disabled {
  opacity: var(--opacity-disabled);
}
.modal-contacts-svg {
  width: 19px;
  height: 19px;
}
.contacts-img {
  width: 100%;
  height: 312px;
  border-radius: var(--border-radius);
  object-fit: cover;
}

@media (min-width: 768px) {
  .contacts-content {
    display: flex;
    gap: var(--gap);
    justify-content: space-between;
    margin-bottom: 32px;
  }
  .contacts-text-container {
    width: 340px;
  }
  .contacts-img {
    height: 396px;
  }
  .contacts-list {
    margin-bottom: 0;
  }
  .contacts-desciption {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .contacts-content {
    gap: 80px;
    margin-bottom: 32px;
  }
  .contacts-header {
    font-size: 48px;
  }
  .contacts-text-container {
    width: 700px;
  }
  .contacts-img {
    height: 720px;
  }
}
