@import 'variable.css';

.footer {
  background-color: var(--footer-bg);
}
.footer-content {
  border-bottom: 1px solid var(--primary-color-rgba);
  padding: 48px 0 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.footer-nav_list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.footer-social_list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.copyright-container {
  padding: 32px 0 48px 0;
  display: flex;
  justify-content: center;
}

.footer-logo {
  width: 260px;
  height: auto;
}
.footer-link {
  color: var(--primary-color);
  transition: var(--transition-opacity);
  opacity: var(--opacity-full);
}

.footer-link:hover,
.footer-svg_link:hover {
  opacity: var(--opacity-hover);
}
.footer-link:active,
.footer-svg_link:active {
  opacity: var(--opacity-active);
}
.footer-link:disabled,
.footer-svg_link:disabled {
  opacity: var(--opacity-disabled);
}
.footer-svg_link {
  width: 40px;
  height: 40px;
  transition: var(--transition-opacity);
  opacity: var(--opacity-full);
}

@media (min-width: 768px) {
  .footer-nav_list {
    flex-direction: row;
  }
  .footer-svg_link {
    width: 24px;
    height: 24px;
  }
  .footer-social_list {
    gap: 12px;
  }
}

@media (min-width: 1440px) {
  .footer-content {
    flex-direction: row;
    display: flex;
    gap: 0;
    justify-content: space-between;
    padding: 80px 0;
  }
  .copyright-container {
    padding: 32px 0 80px 0;
  }
  .footer-nav_list {
    margin-right: 178px;
  }
}
